---
---

@charset "utf-8";

$main-color: #FF481C;
$hamburger-layer-color: $main-color;
$hamburger-layer-height: 2px;
$hamburger-layer-width: 30px;
$hamburger-hover-opacity: 1;

@import "all";

* {
  box-sizing: border-box;
}

$initial-animation-time: 0.5s;
$photos-margin: 72px;
$photos-margin-mobile: 18px;
$font: 'Alef', Arial, sans-serif;

@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

html {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  font-family: $font;
}

body {
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: all $initial-animation-time;
  }

  &:before {
    background: #fff;
    opacity: 0;
  }

  &.is-info-open {
    &:before {
      opacity: 0.5;
      z-index: 10;
      cursor: pointer;
    }
  }

  &:after {
    border: 0 solid #fff;
  }

  &.header-visible {
    &:after {
      border-width: $photos-margin;

      @include phone {
        border-left-width: $photos-margin-mobile;
        border-right-width: $photos-margin-mobile;
        border-bottom-width: $photos-margin-mobile;
      }
    }
  }
}

.loader {
  position: fixed;
  transition: opacity .5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &_hidden {
    opacity: 0;
    pointer-events: none;
  }
}

%reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;
  outline: none;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.photos {
  &__slide {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all $initial-animation-time ease-in-out;

    .header-visible & {
      top: $photos-margin;
      left: $photos-margin;
      right: $photos-margin;
      bottom: $photos-margin;

      @include phone {
        left: $photos-margin-mobile;
        right: $photos-margin-mobile;
        bottom: $photos-margin-mobile;
      }
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.header {
  position: fixed;
  padding: 0 $photos-margin;
  height: $photos-margin;
  width: 100%;
  z-index: 20;
  opacity: 0;
  transition: opacity $initial-animation-time;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: #fff;

  @include phone {
    padding: 0 $photos-margin-mobile;
  }

  &:not(.header-visible &) {
    pointer-events: none;
  }

  .header-visible & {
    opacity: 1;
  }

  &__logo {
    width: $hamburger-layer-width  + 2 * $hamburger-padding-x;
    transform: translateX(-50px);

    @include phone {
      transform: translateX(0);
    }
  }

  &__menu-button {
    transform: translateX($hamburger-padding-x);

    .hamburger {
      padding: $hamburger-padding-x;
      @extend %reset-button;
    }
  }

  &__language {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    color: #000;

    &_en {
      text-align: left;
      padding-left: 10px;

      html[lang="iw"] & {
        color: $main-color;
      }
    }

    &_iw {
      text-align: right;
      padding-right: 10px;

      html[lang="en"] & {
        color: $main-color;
      }
    }
  }

  @include phone {
    font-size: 14px;

    &__logo {
      @include phone {
        transform: translateX(0);
      }
    }
  }
}

.info {
  position: fixed;
  left: $photos-margin - 1;
  right: $photos-margin - 1;
  top: $photos-margin;
  transform: translateY(-1000px);
  transition: transform 0.5s ease-in-out;
  z-index: 15;
  background-color: #fff;
  justify-content: space-between;
  display: flex;
  font-weight: 300;
  padding: 20px 20px 40px;
  line-height: 1.8;
  overflow: auto;

  .is-info-open & {
    transform: translateY(0);
  }

  &__left {
    flex-basis: 45%;
  }

  &__right {
    flex-basis: 30%;
    padding-right: 8%;

    html[lang="iw"] & {
      padding-right: 0;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 31px;
    color: $main-color;
    margin: 0;
  }

  &__description {
    margin: 0;
  }

  &__address,
  &__email,
  &__phone {
  }

  &__email,
  &__phone {
    color: #000;
    text-decoration: none;
    transition: opacity .3s;

    &:hover {
      opacity: 0.5;
    }
  }

  @include phone {
    left: $photos-margin-mobile - 1;
    right: $photos-margin-mobile - 1;
    max-height: calc(100% - #{$photos-margin-mobile} - #{$photos-margin});
    flex-direction: column;
    padding: 0;
    font-size: 14px;
    height: 500px;

    &__left {
      flex: 1 0 0;
      margin: 30px 0;
    }

    &__right {
      flex: 0 0 0;
      padding-right: 0;
      margin: 30px 0;
    }
  }
}

.header__languages {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;

  .is-info-open & {
    opacity: 1;
    pointer-events: visible;
  }
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $initial-animation-time;
  cursor: pointer;
  z-index: 5;

  .header-visible & {
    opacity: 0;
    pointer-events: none;
  }

  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 10vh;
    letter-spacing: 0.4vh;
    color: #fff;

    @include phone {
      font-size: 8vw;
    }
  }

  // TODO-DR remove after deciding styles for main image
  .isOnlyText {
    background: #fff;
    mix-blend-mode: lighten;

    .title__text {
      letter-spacing: 3px;
      font-weight: 900;
      font-size: 30vh;
      color: #000;
      background: #fff;
    }
  }
}

.horizontal-arrows {
  position: fixed;
  z-index: 4;
  top: $photos-margin;
  bottom: $photos-margin;
  left: 0;
  right: 0;
  display: flex;

  @include phone {
    top: $photos-margin-mobile;
    bottom: $photos-margin-mobile;
  }
}

.arrow {
  @extend %reset-button;
  margin: auto;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;

  svg {
    fill: $main-color;
  }

  &_visible {
    opacity: 1;
    cursor: pointer;
    pointer-events: visible;
  }

  @include phone {
    .is-info-open & {
      pointer-events: none;
      opacity: 0;
    }
  }

  &:not(.arrow_visible) {
    pointer-events: none;
  }

  &_left,
  &_right {
    position: relative;
    flex-grow: 1;
    height: 100%;

    svg {
      position: absolute;
      top: 50%;
      height: 20px;
    }
  }

  &_left {
    svg {
      $width: 40px;
      width: $width;
      left: $photos-margin - $width + 10px;

      @include phone {
        left: 3px;
      }
    }
  }

  &_right {
    svg {
      $width: 40px;
      width: $width;
      right: $photos-margin - $width + 10px;

      @include phone {
        right: 3px;
      }
    }
  }

  &_up,
  &_down {
    position: fixed;
    z-index: 6;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $photos-margin;

    @include phone {
      height: $photos-margin-mobile;
    }

    svg {
      width: 20px;
      position: relative;
      height: 40px;

      @include phone {
        bottom: 25px;
      }
    }
  }

  &_down {
    animation: bounce 3s infinite;

    .header-visible & {
      animation: none;
    }
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.photos__slider-wrapper,
.slick-list,
.slick-track {
  height: 100%;
}
